.songsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.dashboardBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    bottom: 0;
    /* border-style: solid; */
    width: 50vw;
}

.dashboardMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to bottom , rgb(5, 185, 5),black,black,black); */
    background-image: linear-gradient(to bottom,grey,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.listenFullSong{
    width: 300px;
    height: 60px;
    font-weight: 500;
    border-radius: 20px;
    margin: 20px;
    border-style: solid;
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
    border-width: 0px;
    position: sticky;
    top: 0;
}

.listenFullSong:hover{
    transform: scale(1.15);
    background-color: white;
    color: black;
}

.spotifyLogo{
    font-size: 30px;
    margin: 10px;
    color: rgb(7, 250, 7);
}

.songInput{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin: 20px;
    /* border-color: black; */
}

.searchDiv{
    /* border-style: solid; */
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /* margin-top: 150px; */
}

.searchDiv input:focus{
    outline: none;
}

.searchIcon{
    font-size: 1.5vw;
    margin-left: 20px;
    color: grey;
}