.spotify-login-btn{
    border-style: solid;
    width: 30vw;
    min-width: 200px;
    padding: 10px;
    border-radius: 15px;
    border-width: 0px;
    background-color: rgba(26,178,107,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    color: white;
    transition: all 0.5s ease-in-out;
    margin: 30px;
}

.spotify-login-btn:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.spotifyLoginMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-style: solid; */
    /* border-color: green; */
    height: 100vh;
}

.spotifyLoginPhoto{
    width: 60vw;
}

.spotifyLoginMain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}