.track-image{
    /* width: 10vw; */
    height:100px;
}

.trackmainDiv{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0.5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    /* border-radius: 10px; */
    padding: 5px;
    background-color: white;
    color: black;
    height: 110px;
    width: 80%;

}

.trackmainDiv:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.2);
}

.trackmainDiv:hover .trackArtist{
color: white;
}

.trackmainDiv:hover .trackTitle{
    color: white;
 }
    

.trackTitle{
    margin-left: 20px;
    /* border-style: solid; */
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
    font-weight: 700;
    color: black;
}

.trackArtist{
    margin-left: 25px;
    color: black;
}